<ion-content color="secondary" [fullscreen]="true">
  <img src="/assets/img/logo-full.png"/>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size="10">
          <ion-label><strong>Dispositivo sin conexión</strong></ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-text-center ion-padding">
      <ion-col size="10">
        <ion-label>Conéctelo para validar que las tomas a administrar sean correctas</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-text-center ion-padding">
      <ion-col size="5">
        <img style="width: 80px; height: 80px;" src="/assets/icon/icon_sinconexion.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer color="secondary">
  <ion-toolbar class="ion-padding" color="secondary">
    <ion-button expand="block" (click)="volverScan()">
      Cerrar
    </ion-button>
  </ion-toolbar>
</ion-footer>