<ion-content color="secondary" [fullscreen]="true">
  <div class="wrapper">
    <ion-grid fixed>
      <ion-row class="ion-text-center ion-padding">
        <ion-col size="12">
          <ion-label class="label_paso" color="primary">Paso 1</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-label>{{"escanner.title" | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <img src="/assets/icon/icon_bote.png"/>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center ion-padding">
        <ion-col size="12">
          <ion-input (keydown.enter)="startScan()" [(ngModel)]="bote.codigo" type="text" name="scan_bote" placeholder="Ej. C0001"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
